In [28]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [29]:
link = 'https://www.worldometers.info/coronavirus/'
page = requests.get(link)
page.status_code

200

In [30]:
soup = BeautifulSoup(page.content)

In [31]:
table = soup.find('table', attrs={'id': 'main_table_countries_today'})

In [32]:
rows = table.find_all("tr", attrs={"style": ""})

In [33]:
data = []
for i,item in enumerate(rows):
    if i == 0:
        data.append(item.text.strip().split("\n")[1:17])
        data[0][12]+=data[0][13]
        data[0]=data[0][:13]+data[0][-1:]
        data[0].append("Area")
    else:
        data.append(item.text.strip().split("\n")[1:16])

In [34]:
df = pd.DataFrame(data)
df = pd.DataFrame(data[2:-1], columns=data[0][:15])
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Area
0,USA,"80,270,563",,"963,371",,"52,199,829",,"27,107,363","10,400","240,195","2,883","942,817,780","2,821,212","334,188,863",North America
1,India,"42,867,031",,"512,652",,"42,189,887",,"164,492","8,944","30,570",366,"762,414,018","543,699","1,402,272,769",Asia
2,Brazil,"28,351,876",,"645,534",,"25,505,984",,"2,200,358","8,318","131,845","3,002","63,776,166","296,579","215,039,621",South America
3,France,"22,401,406",,"137,276",,"19,735,713",,"2,528,417","3,055","341,951","2,095","243,529,298","3,717,401","65,510,629",Europe
4,UK,"18,695,449",,"160,815",,"16,918,511",,"1,616,123",324,"273,040","2,349","477,969,909","6,980,577","68,471,406",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Vatican City,29,,,,28,,1,,"36,070",,,,804,Europe
216,Vanuatu,15,,1,,6,,8,,47,3,"23,000","72,120","318,915",Australia/Oceania
217,Western Sahara,10,,1,,8,,1,,16,2,,,"621,421",Africa
218,Cook Islands,6,+2,,,,,6,,341,,"1,115","63,388","17,590",Australia/Oceania
219,China,"108,194",+205,"4,636",,"101,598",+54,"1,960",14,75,3,"160,000,000","111,163","1,439,323,776",Asia

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country,Other     220 non-null    object
 1   TotalCases        220 non-null    object
 2   NewCases          220 non-null    object
 3   TotalDeaths       220 non-null    object
 4   NewDeaths         220 non-null    object
 5   TotalRecovered    220 non-null    object
 6   NewRecovered      220 non-null    object
 7   ActiveCases       220 non-null    object
 8   Serious,Critical  220 non-null    object
 9   Tot Cases/1M pop  220 non-null    object
 10  Deaths/1M pop     220 non-null    object
 11  TotalTests        220 non-null    object
 12  Tests/1M pop      220 non-null    object
 13  Population        220 non-null    object
 14  Area              220 non-null    object
dtypes: object(15)
memory usage: 25.9+ KB

In [36]:
def replaceString(s:str):
    s = s.replace('+', '')
    s = s.replace(',', '')
    s = s.strip()
    return s

for col in df.columns:
    df[col] = df[col].apply(lambda s: replaceString(s))

In [37]:
df = df.replace(['', 'N/A'], np.nan)
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Area
0,USA,80270563,NaN,963371,NaN,52199829,NaN,27107363,10400,240195,2883,942817780,2821212,334188863,North America
1,India,42867031,NaN,512652,NaN,42189887,NaN,164492,8944,30570,366,762414018,543699,1402272769,Asia
2,Brazil,28351876,NaN,645534,NaN,25505984,NaN,2200358,8318,131845,3002,63776166,296579,215039621,South America
3,France,22401406,NaN,137276,NaN,19735713,NaN,2528417,3055,341951,2095,243529298,3717401,65510629,Europe
4,UK,18695449,NaN,160815,NaN,16918511,NaN,1616123,324,273040,2349,477969909,6980577,68471406,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Vatican City,29,NaN,NaN,NaN,28,NaN,1,NaN,36070,NaN,NaN,NaN,804,Europe
216,Vanuatu,15,NaN,1,NaN,6,NaN,8,NaN,47,3,23000,72120,318915,Australia/Oceania
217,Western Sahara,10,NaN,1,NaN,8,NaN,1,NaN,16,2,NaN,NaN,621421,Africa
218,Cook Islands,6,2,NaN,NaN,NaN,NaN,6,NaN,341,NaN,1115,63388,17590,Australia/Oceania
219,China,108194,205,4636,NaN,101598,54,1960,14,75,3,160000000,111163,1439323776,Asia

In [38]:
columns = df.columns
for i in range(1, len(columns) - 1):
    df[columns[i]] = df[columns[i]].astype(float)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country,Other     220 non-null    object
 1   TotalCases        220 non-null    float64
 2   NewCases          21 non-null     float64
 3   TotalDeaths       214 non-null    float64
 4   NewDeaths         15 non-null     float64
 5   TotalRecovered    211 non-null    float64
 6   NewRecovered      18 non-null     float64
 7   ActiveCases       212 non-null    float64
 8   Serious,Critical  164 non-null    float64
 9   Tot Cases/1M pop  220 non-null    float64
 10  Deaths/1M pop     214 non-null    float64
 11  TotalTests        209 non-null    float64
 12  Tests/1M pop      209 non-null    float64
 13  Population        220 non-null    float64
 14  Area              220 non-null    object
dtypes: float64(13), object(2)
memory usage: 25.9+ KB

In [40]:
df.to_csv(r'./data.csv',index=False)